.price-column {

}

.price-column .prices span {
    margin: 0 2px;
    display: inline-block;
}

.price-column span.column_h, .price-column span.column {
    width: 60px;
}

.price-column span.price_h, .price-column span.price {
    width: 60px;
}

.price-column span.discount_price_h, .price-column span.discount_price {
    width: 110px;
}
