@import 'less/bootstrap.less';

@widthOfSite: 940px;

.container{
    width: 1000px;

    .divider-short{
        background: url(/images/divider_short.png);
        height:     3px;
        width:      270px;
        margin:     2px auto;
    }

}

.main{
    background: url('/images/top.jpg') no-repeat;
}

.header{
    height: 80px;
    width:  100%;
}

.top-info{
    margin: 0 auto;
    width:  @widthOfSite;

    .menu{
        background: url('/images/menu.png') no-repeat;
        width:      100%;
        height:     30px;
        margin:     8px 3px 0 3px;
        .header-menu-wrapper{
            float:    left;
            position: relative;
            left:     50%;
            ul.header-menu{
                list-style:     none;
                position:       relative;
                left:           -50%;
                height:         30px;
                vertical-align: center;
                margin:         0;
                .divider{
                    background: url(/images/menu_divider.png) no-repeat;
                    height:     30px;
                    width:      2px;
                    margin:     0;
                    padding:    0;
                }
                li{
                    float:    left;
                    position: relative; /* For IE */
                    padding:  0 15px;
                    line-height:     26px;
                    a{
                        color:           #3d5665;
                        font-size:       13px;
                        font-weight:     bold;
                        text-decoration: none;
                    }
                }
                li.active{
                    #gradient > .vertical(#001e3e, #003e60);
                    border: 2px solid #002d54;
                    a{
                        color: #FFF;
                    }
                }
            }
        }
    }

    .top_info_wrapper{
        @height: 293px;
        height: @height;
        margin: 3px 0 0 2px;
        .man{
            background: url('/images/man.png');
            height:     @height;
            width:      637px;
            float:      left;
            margin:     0 0 0 2px;
        }

        .sidebar-top{
            background: #619f0f;
            width:      303px;
            height:     @height;
            margin:     0;
            float: left;

            .divider{
                background: url(/images/horizontal_divider.png);
            }
        }

    }

    .top-menu{
        height: 126px;
        li{
            float:   left;
            display: block;
            width:   96px;
            margin:  0 2px;

            a{
                font-size:   10px;
                color:       #333;
                text-align:  center;
                line-height: 12px;

                &:hover{
                    font-weight:     bold;
                    text-decoration: underline;
                }
            }
        }

        .top-menu-icon-internal(@img, @type: ''){
            height:     96px;
            width:      96px;
            display:    block;
            background: url(/images/@{img}_@{type}.png)
        }
        .top-menu-icon(@img){
            .top-menu-icon-internal(@img);
            &:hover{
                .top-menu-icon-internal(@img, 'hover');
            }
            &.active{
                .top-menu-icon-internal(@img, 'active');
            }
        }
        .cleaning span{
            .top-menu-icon('01');
        }
        .fasads span{
            .top-menu-icon('02');
        }
        .crovel span{
            .top-menu-icon('03');
        }
        .media span{
            .top-menu-icon('04');
        }
        .electro span{
            .top-menu-icon('05');
        }
        .light span{
            .top-menu-icon('06');
        }
        .shnow span{
            .top-menu-icon('07');
        }
        .condition span{
            .top-menu-icon('08');
        }
        .private span{
            .top-menu-icon('09');
        }
    }
}

.content{
    margin: 0 auto;
    width:  @widthOfSite;
    .content-left{
        width: 650px;
        @colorHBlue: #143956;
        @colorHGreen: #4e8425;
        .divider-long{
            width:      630px;
            height:     1px;
            background: url(/images/divider_long.png) no-repeat;
            margin:     0 auto;
        }
        .page-header{
            margin:      10px 0 0 10px;
            color:       @colorHBlue;
            font-size:   22px;
            font-weight: bold;
            line-height: 28px;
            span{
                color: @colorHGreen;
            }
        }
    }

    .sidebar{
    }
}

footer{
    background: url(/images/footer.jpg) repeat-x;
    height:     90px;
    width:      100%;

    .staticstic{
    }
}